In [1]:
import vectorbt as vbt
import pandas as pd
import pandas_ta as ta
from datetime import datetime
from alpaca.broker.client import BrokerClient
from alpaca.data.historical import CryptoHistoricalDataClient, StockHistoricalDataClient
from alpaca.data.requests import CryptoBarsRequest, StockBarsRequest
from alpaca.data.timeframe import TimeFrame
from alpaca.data.historical import StockHistoricalDataClient, CryptoHistoricalDataClient
from loguru import logger

In [2]:
import sys
sys.path

['/home/eproject/veehuen/python/jupyter/vectorbt_opt',
 '/home/eproject/veehuen/python/jupyter/vectorbt_opt',
 '/home/eproject/anaconda3/envs/blankly/lib/python310.zip',
 '/home/eproject/anaconda3/envs/blankly/lib/python3.10',
 '/home/eproject/anaconda3/envs/blankly/lib/python3.10/lib-dynload',
 '',
 '/home/eproject/veehuen/python/jupyter/vectorbt_opt/venv/lib/python3.10/site-packages']

In [3]:
from config import ALPACA_KEY_ID, ALPACA_SECRET_KEY

In [7]:
datetime.strptime('2022-01-01', '%Y-%m-%d')

datetime.datetime(2022, 1, 1, 0, 0)

In [28]:
broker_client = BrokerClient(ALPACA_KEY_ID, ALPACA_SECRET_KEY)
stock_history_client = StockHistoricalDataClient(ALPACA_KEY_ID, ALPACA_SECRET_KEY)
request_params = StockBarsRequest(
    symbol_or_symbols='SPY',
    timeframe=TimeFrame.Hour,
    start=datetime.strptime('2022-01-01', '%Y-%m-%d')
)

In [29]:
bars = stock_history_client.get_stock_bars(request_params)

In [30]:
df = pd.DataFrame(bars.data['SPY'])
df

,0,1,2,3,4,5,6,7,8
0,"(symbol, SPY)","(timestamp, 2022-01-01 00:00:00+00:00)","(open, 475.07)","(high, 475.32)","(low, 475.04)","(close, 475.32)","(volume, 19733.0)","(trade_count, 120.0)","(vwap, 475.14538)"
1,"(symbol, SPY)","(timestamp, 2022-01-03 05:00:00+00:00)","(open, 476.84)","(high, 476.84)","(low, 476.84)","(close, 476.84)","(volume, 4500.0)","(trade_count, 1.0)","(vwap, 476.84)"
2,"(symbol, SPY)","(timestamp, 2022-01-03 09:00:00+00:00)","(open, 476.38)","(high, 477.25)","(low, 476.38)","(close, 477.25)","(volume, 57914.0)","(trade_count, 562.0)","(vwap, 476.804707)"
3,"(symbol, SPY)","(timestamp, 2022-01-03 10:00:00+00:00)","(open, 477.24)","(high, 477.76)","(low, 477.15)","(close, 477.76)","(volume, 36511.0)","(trade_count, 396.0)","(vwap, 477.509115)"
4,"(symbol, SPY)","(timestamp, 2022-01-03 11:00:00+00:00)","(open, 477.76)","(high, 478.09)","(low, 477.76)","(close, 478.0)","(volume, 74874.0)","(trade_count, 497.0)","(vwap, 477.985606)"
...,...,...,...,...,...,...,...,...,...
3916,"(symbol, SPY)","(timestamp, 2022-10-24 20:00:00+00:00)","(open, 378.84)","(high, 378.89)","(low, 378.21)","(close, 378.4)","(volume, 8956807.0)","(trade_count, 8632.0)","(vwap, 378.760068)"
3917,"(symbol, SPY)","(timestamp, 2022-10-24 21:00:00+00:00)","(open, 378.37)","(high, 378.75)","(low, 378.35)","(close, 378.47)","(volume, 2372381.0)","(trade_count, 1291.0)","(vwap, 378.848561)"
3918,"(symbol, SPY)","(timestamp, 2022-10-24 22:00:00+00:00)","(open, 378.47)","(high, 379.24)","(low, 378.3)","(close, 379.24)","(volume, 162797.0)","(trade_count, 1255.0)","(vwap, 378.615564)"
3919,"(symbol, SPY)","(timestamp, 2022-10-24 23:00:00+00:00)","(open, 379.22)","(high, 379.44)","(low, 378.71)","(close, 378.86)","(volume, 117350.0)","(trade_count, 1113.0)","(vwap, 379.117372)"
3920,"(symbol, SPY)","(timestamp, 2022-10-25 08:00:00+00:00)","(open, 378.0)","(high, 379.25)","(low, 378.0)","(close, 378.7)","(volume, 33748.0)","(trade_count, 280.0)","(vwap, 378.876353)"

In [31]:
df = bars.df
df

                                    open    high     low   close     volume  \
symbol timestamp
SPY    2022-01-01 00:00:00+00:00  475.07  475.32  475.04  475.32    19733.0
       2022-01-03 05:00:00+00:00  476.84  476.84  476.84  476.84     4500.0
       2022-01-03 09:00:00+00:00  476.38  477.25  476.38  477.25    57914.0
       2022-01-03 10:00:00+00:00  477.24  477.76  477.15  477.76    36511.0
       2022-01-03 11:00:00+00:00  477.76  478.09  477.76  478.00    74874.0
...                                  ...     ...     ...     ...        ...
       2022-10-24 20:00:00+00:00  378.84  378.89  378.21  378.40  8956807.0
       2022-10-24 21:00:00+00:00  378.37  378.75  378.35  378.47  2372381.0
       2022-10-24 22:00:00+00:00  378.47  379.24  378.30  379.24   162797.0
       2022-10-24 23:00:00+00:00  379.22  379.44  378.71  378.86   117350.0
       2022-10-25 08:00:00+00:00  378.00  379.25  378.00  378.70    33748.0

                                  trade_count        vwap
symbol timestamp
SPY    2022-01-01 00:00:00+00:00        120.0  475.145380
       2022-01-03 05:00:00+00:00          1.0  476.840000
       2022-01-03 09:00:00+00:00        562.0  476.804707
       2022-01-03 10:00:00+00:00        396.0  477.509115
       2022-01-03 11:00:00+00:00        497.0  477.985606
...                                       ...         ...
       2022-10-24 20:00:00+00:00       8632.0  378.760068
       2022-10-24 21:00:00+00:00       1291.0  378.848561
       2022-10-24 22:00:00+00:00       1255.0  378.615564
       2022-10-24 23:00:00+00:00       1113.0  379.117372
       2022-10-25 08:00:00+00:00        280.0  378.876353

[3921 rows x 7 columns]

In [27]:
df.loc[('SPY',)]

,open,high,low,close,volume,trade_count,vwap
timestamp,,,,,,,
2022-01-03 05:00:00+00:00,476.45,477.85,473.85,477.71,72604064.0,534803.0,476.526964
2022-01-04 05:00:00+00:00,479.26,479.98,475.58,477.55,71129958.0,565259.0,477.868706
2022-01-05 05:00:00+00:00,477.25,477.98,468.29,468.38,102085598.0,784945.0,473.338984
2022-01-06 05:00:00+00:00,468.00,470.82,465.43,467.94,86499197.0,803296.0,468.480666
2022-01-07 05:00:00+00:00,468.00,469.20,464.65,466.09,84895774.0,623749.0,466.940793
...,...,...,...,...,...,...,...
2022-10-18 04:00:00+00:00,375.07,375.45,367.52,371.13,96898206.0,675916.0,371.126991
2022-10-19 04:00:00+00:00,368.98,371.85,365.55,368.50,79481512.0,531675.0,368.665769
2022-10-20 04:00:00+00:00,368.07,372.67,364.61,365.41,87963935.0,634944.0,367.710482
2022-10-21 04:00:00+00:00,365.11,374.80,363.54,374.29,130542269.0,718723.0,369.862865
2022-10-24 04:00:00+00:00,375.94,380.06,373.11,378.87,85131661.0,624488.0,377.367392

In [21]:
df.columns

Index(['open', 'high', 'low', 'close', 'volume', 'trade_count', 'vwap'], dtype='object')

In [32]:
 df.ta.stoch(append=True)

                                  STOCHk_14_3_3  STOCHd_14_3_3
symbol timestamp
SPY    2022-01-03 20:00:00+00:00            NaN            NaN
       2022-01-03 21:00:00+00:00            NaN            NaN
       2022-01-03 22:00:00+00:00      88.757862            NaN
       2022-01-03 23:00:00+00:00      85.534591            NaN
       2022-01-04 00:00:00+00:00      85.849057      86.713836
...                                         ...            ...
       2022-10-24 20:00:00+00:00      87.934421      87.264141
       2022-10-24 21:00:00+00:00      82.325030      85.759200
       2022-10-24 22:00:00+00:00      83.671547      84.643666
       2022-10-24 23:00:00+00:00      84.480011      83.492196
       2022-10-25 08:00:00+00:00      84.244299      84.131953

[3908 rows x 2 columns]

In [33]:
df

                                    open    high     low   close     volume  \
symbol timestamp
SPY    2022-01-01 00:00:00+00:00  475.07  475.32  475.04  475.32    19733.0
       2022-01-03 05:00:00+00:00  476.84  476.84  476.84  476.84     4500.0
       2022-01-03 09:00:00+00:00  476.38  477.25  476.38  477.25    57914.0
       2022-01-03 10:00:00+00:00  477.24  477.76  477.15  477.76    36511.0
       2022-01-03 11:00:00+00:00  477.76  478.09  477.76  478.00    74874.0
...                                  ...     ...     ...     ...        ...
       2022-10-24 20:00:00+00:00  378.84  378.89  378.21  378.40  8956807.0
       2022-10-24 21:00:00+00:00  378.37  378.75  378.35  378.47  2372381.0
       2022-10-24 22:00:00+00:00  378.47  379.24  378.30  379.24   162797.0
       2022-10-24 23:00:00+00:00  379.22  379.44  378.71  378.86   117350.0
       2022-10-25 08:00:00+00:00  378.00  379.25  378.00  378.70    33748.0

                                  trade_count        vwap  STOCHk_14_3_3  \
symbol timestamp
SPY    2022-01-01 00:00:00+00:00        120.0  475.145380            NaN
       2022-01-03 05:00:00+00:00          1.0  476.840000            NaN
       2022-01-03 09:00:00+00:00        562.0  476.804707            NaN
       2022-01-03 10:00:00+00:00        396.0  477.509115            NaN
       2022-01-03 11:00:00+00:00        497.0  477.985606            NaN
...                                       ...         ...            ...
       2022-10-24 20:00:00+00:00       8632.0  378.760068      87.934421
       2022-10-24 21:00:00+00:00       1291.0  378.848561      82.325030
       2022-10-24 22:00:00+00:00       1255.0  378.615564      83.671547
       2022-10-24 23:00:00+00:00       1113.0  379.117372      84.480011
       2022-10-25 08:00:00+00:00        280.0  378.876353      84.244299

                                  STOCHd_14_3_3
symbol timestamp
SPY    2022-01-01 00:00:00+00:00            NaN
       2022-01-03 05:00:00+00:00            NaN
       2022-01-03 09:00:00+00:00            NaN
       2022-01-03 10:00:00+00:00            NaN
       2022-01-03 11:00:00+00:00            NaN
...                                         ...
       2022-10-24 20:00:00+00:00      87.264141
       2022-10-24 21:00:00+00:00      85.759200
       2022-10-24 22:00:00+00:00      84.643666
       2022-10-24 23:00:00+00:00      83.492196
       2022-10-25 08:00:00+00:00      84.131953

[3921 rows x 9 columns]